[submodule "autoload/vim-plug"]
	path = autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
